[defaults]
# Standard inventory fil, så man slipper for at skrive '-i hosts.yml' hver gang
inventory = ./hosts.yml

# Deaktiver SSH Host Key Checking (smart til hyppig oprettelse/sletning af test-servere)
host_key_checking = False

# Deaktiver oprettelse af .retry-filer ved fejl
retry_files_enabled = False

# Brug smart-caching af fakta
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
fact_caching_timeout = 86400

# Farver i output
force_color = True

[ssh_connection]
# Optimer SSH-forbindelser (pipelining) for langt hurtigere eksekvering
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
